body {
    /* background-color: black; */
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 40px auto;
    grid-template-rows: 30px auto;
    height: 80vh;
    width: 100%;
    border: 1px solid #c0c0c0;
    /* margin: 50px auto; */
    overflow-x: scroll;
    box-sizing: border-box;
}

.plate {
    background-color: gray;
    position: sticky;
    left: 0;
    top: 0;
    z-index: 2;
}

.head-row {
    /* grid-column: 1/3; */
    display: flex;
    position: sticky;
    top: 0;
    background-color: #fff;
}

.head-row .col-head {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    border: 1px solid #c0c0c0;
}

/* .head-row div:first-child {
    width: 40px;
    background-color: gray;
} */

/* .container div{
    border: 2px solid black;
} */

.serialNo {
    position: sticky;
    left: 0;
    background-color: #fff;

}

.serialNo .sno-cell{
    height: 30px;
    border: 1px solid #c0c0c0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
}

.body {
    /* background-color: aquamarine;, */
}

.row {
    display: flex;
}

.cell {
    border: 1px solid #c0c0c0;
    width: 150px;
    height: 30px;
    outline: none;
    overflow-y: hidden;
    cursor: text;
    white-space: pre-wrap;
}

.cell:focus{
    border-color: blue;
}

.options {
    background-color: #F8FBFD;
    height: 12vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.form-container {
    padding: 10px;
    margin: 0 30px;
    background-color: #EDF2FA;
    border-bottom: 50px;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.fr-aic {
    display: flex;
    align-items: center;
    gap: 10px;
}

input[type="checkbox"], input[type="radio"] {
    display: none;
}

input[type="color"] {
    width: 0;
    height: 0;
    visibility: hidden;
}
input[type="checkbox"]:checked + label, input[type="radio"]:checked + label {
    background-color: #D3E2FD;
}

label {
    padding: 5px;
    border-radius: 2px;
    cursor: pointer;
}

.box {
    width: 80vw;
    margin: auto;
}

.box input {
    flex-grow: 1;
    padding: 5px;
    border-radius: 50px;
    border-width: 1px;
}

.box .selected-cell{
    background-color: #D3E2FD;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    width: 40px;
}

.active-cell {
    border: 1px solid #0957D0;
}